<script setup lang="ts">
import { ref } from "vue";
const message = ref("Hello World!");
const isRed = ref(true);
const color = ref("green");
//function toggleRed() เมื่อกดปุ่มมันจะกลับค่าจากจริงเป็นเท็จจากเท็จเป็นจริง
function toggleRed() {
  isRed.value = !isRed.value;
}
function toggleColor() {
  color.value = color.value === "green" ? "blue" : "green"; //color.value === "green" ? "blue" : "green" <--- อันนี้คือ short if กล่าวคือ ถ้าเงื่อนไข color.value === "green" เป็นจริงผลลัพท์จะเป็น blue แต่ถ้าเป็นเท็จผลลัพธ์จะเป็น green
} // === ใช้เปรียบเทียบใน typescript
</script>
<template>
  <p>
    <span :title="message">
      Hover your mouse over me for a few seconds to see my dynamically bound
      title!
    </span>
  </p>

  <p :class="{ red: isRed }" @click="toggleRed">
    <span> This should be red... but click me to toggle it. </span>
  </p>

  <p :style="{ color }" @click="toggleColor">
    <span>
      This should be green, and should toggle between green and blue on click.
    </span>
  </p>
</template>

<style scoped>
.red {
  color: red;
}
</style>
